{% extends "base.html" %}

<!-- var -->
{% set title = "Registrar Tipo de Documento" %}

<!-- body -->
{% block body %}
<a href="{{url_for('document_types.list')}}" class="back-btn">← Volver</a>

<section>
  <h1>Registrar Tipo de Documento</h1>

  <form method="post" novalidate>
    {{form.hidden_tag()}}

    <!-- label -->
    {{form.name.label}}

    <!-- input -->
    {{form.name()}}

    <!-- errors -->
    {% if form.name.errors %}
    <ul>
      {% for error in form.name.errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <button type="submit" class="submit-btn">Registrar</button>
  </form>
</section>
{% endblock %}
