{% extends "base.html" %}

<!-- var -->
{% set title = "Editar Tipo de Documento" %}

<!-- body -->
{% block body %}
<section>
  <a href="{{url_for('document_types.list')}}">Volver</a>

  <h1>Editar Tipo de Documento</h1>

  <form method="post" novalidate>
    {{form.hidden_tag()}}

    <div>
      {{form.name.label}}

      <!-- input -->
      {{form.name()}}

      <!-- errors -->
      {% if form.name.errors %}
      <ul>
        {% for error in form.name.errors %}
        <li>{{error}}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <button type="submit">Actualizar</button>
  </form>
</section>
{% endblock %}
