{% extends "base.html" %}

<!-- var -->
{% set title = "Editar Categoría" %}

<!-- body -->
{% block body %}
<a href="{{url_for('license_categories.list')}}" class="back-btn">← Volver</a>

<section>
  <h1>Editar Categoría</h1>

  <form method="post" novalidate>
    {{form.hidden_tag()}}

    <!-- label -->
    {{form.name.label}}

    <!-- input -->
    {{form.name()}}

    <!-- errors -->
    {% if form.name.errors %}
    <ul>
      {% for error in form.name.errors %}
      <li>{{error}}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <button type="submit" class="submit-btn">Actualizar</button>
  </form>
</section>
{% endblock %}
