<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - App Examen</title>
    <link
      rel="shortcut icon"
      href="{{url_for('static', filename='favicon.png')}}"
      type="image/x-icon"
    />
    <!-- css -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="{{url_for('core.home')}}">Inicio</a>
        <a href="{{url_for('license_categories.list')}}">Categorías</a>
      </nav>
    </header>

    <main>
      <!-- Messages -->
      <div id="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!---->
        {% for category, message in messages %}
        <div class="message {{category}}">{{message}}</div>
        {% endfor %}
        <!---->
        {% endwith %}
      </div>

      <!-- body -->
      {% block body %}{% endblock %}
    </main>

    <!-- scripts -->
    {% block scripts %} {% endblock %}
  </body>
</html>
